
<style>
.btn a {
    color: white;
}
.btn a:link {
    color: white;
}
.btn a:visited {
    color:white;
}
.btn a:hover {
    color:white;
}
</style>
<table>
  <tr>
    <td>
      <h1>News</h1>
    </td>
    <td>
      <%= link_to 'Refresh', articles_path %>
    </td>
  </tr>
</table>

      <table class="table table-striped" style="margin-top:30px;">
        <tr>
          <th>Title</th>
          <th>Text</th>
          <th>Created Time</th>
          <th></th>
        </tr>
      
        <% @articles.each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td title= <%= article.text %> > <%= article.text[0..30] %> </td>
            <td><%= article.created_at %></td>
            <!--td><%= link_to 'Show', article_path(article) %></td-->
            <td  class="btn btn-success"><%= link_to 'Edit', edit_article_path(article) %></td>
            <td  class="btn btn-danger"><%= link_to 'Delete', article_path(article),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table>
   
